@import "_reset";
@import "_variables";

body {
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: $color;
    color: white;
    height: 100px;
    text-align: center;
}

main {
    height: 400px;
    color: grey;
}

footer {
    background-color: darken($color, 15%);
    color: white;
    height: 55px;
    text-align: center;
}

.container {
    border: 2px solid black;
}

nav {
    background-color: $second-color;
    height: 50px;
    

    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        display: flex;
    }

    a {
        display: flex;
        padding: 6px 12px;
        text-decoration: none;
        color: #fff;
        cursor: pointer;

        &:hover {
            background-color: lighten($second-color, 100%);
            color: #444444;
        }
    }
}