.position-demo {
    background: cadetblue;
    border: 1px solid black;
    width: 300px;
    height: 50px;
    text-align: center;
    padding-top: 20px;
}

.static-pos {
    position: static;
}

.relativ-pos {
    position: relative; 
    left:35px;
}

.fixed-pos {
    position: fixed;
    left: 200px;
    top: 150px;
    z-index: 1;
}

.absolute-pos {
    position: absolute;
    left: 500px;
    top: 400px;
}

.fixed-top {
    position: fixed;
    top: 0;
    right: 50px;
}

.sticky-pos {
    position:sticky;
    top: 0;
    z-index: -1;
}