* {
    margin: 0;
    padding: 0;
    background-color: bisque;
}

img {
    width:20%;
    /* vertical-align: middle; */
    /* float: left; */
    border-radius: 20px;
    box-shadow: 5px 5px 12px black;
}

.image-container {
    margin: 5px;
    padding: 3px;
    text-align: center;
    /* border-style: solid;
    border-width: 3px;
    border-color: aquamarine; */
    border: solid burlywood 3px;
    border-radius: 5px;
}

img:hover {
    box-shadow: 7px 7px 15px black;
    width: 25%;
}

p:hover {
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: smaller;
}

.background-example {
    /* background-image: url(../shared_resources/blue_emoji.png);
    background-repeat: repeat;
    background-size: contain; */
    /* background-image: linear-gradient(120deg,purple 0%,blue 50%,yellow 100%); */
    background-image: linear-gradient(to right, cadetblue ,black);
}