body {
    font-family: 'Times New Roman', Times, serif;
}

img {
    width: 80px;
    height: 100px;
}

.first1 {
    border: solid black 1px;
}

.second2 {
    border: solid black 1px;
}

.third3 {
    border: solid black 1px;
}

p {
    color: grey;
}

.price {
    color: red;
}

/* .button {
} */