@import "_variables";
@import "_reset";
@import "_mixin";

body {
    background-color: $color;
    font-family: $font;
    font-size: $fontSize;
}

.row {
    color: white;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;
}

.row img {
    width: 100px;
    height: auto;
}

.container {
    min-width: $minWidth;
    width: 80vw;
    margin: auto;
    text-align: center;
    border: {
        style: solid;
        radius: 10px;
        color: black;
        width: 2px;
    }   
}

nav {
    background-color: darken($color, 25%);
    ul {
        margin: 0;
        padding: 0;
        list-style: none;
    }
    li {
        display: inline-block;
    }
    a {
        display: block;
        padding: 6px 12px;
        text-decoration: none;
        color: $color;
        &:hover {
            background-color: lighten($color, 25%);
        }
    }
}

.danger {
    @include bordered(#009394);
    @include important-text();
    background-color: darken($color, 25%);
}

// .rep {
//     background-color: mix(#009394,#085723,50%);
// }

.button-basic {
    border: none;
    padding: 15px 30px;
    text-align: center;
    font-size: 1.5em;
    cursor: pointer;
}

.button-report {
    @extend .button-basic;
    background-color: red;
}

.button-submit {
    @extend .button-basic;
    background-color: green;
    color: whitesmoke;
}